<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style> 
        #background { 
            width: 400px; 
            height: 400px; 
            position: relative; 
            background: black; 
        } 
        #block { 
            width: 50px; 
            height: 50px; 
            background-color: white; 
            border: 2px red solid; 
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        } 
</style> 
</head>

<body>
  <h1>Robot Driver</h1>
  <div id="background"> 
        <div id="block"></div> 
</div> 
</body>


<button onclick="animation()">Click here</button> 

<button onclick="press(119)">W</button>
<button onclick="press(115)">S</button>
<button onclick="press(113)">Q</button>
<button onclick="press(97)">A</button>



<script>
    let LEFT_MOTOR = 0;
    let RIGHT_MOTOR = 0;
    document.addEventListener('keydown',press)
    function press(e) {
      if (e.keyCode === 119 /* w */){
        animation(119)
        RIGHT_MOTOR = 180;
      }
      if (e.keyCode === 115 /* s */){
        animation(115)
        RIGHT_MOTOR = 0
      }
      if (e.keyCode === 113 /* q */){
        animation(113)
        LEFT_MOTOR = 180
      }
      if (e.keyCode ===  97 /* a */){
        animation(97)
        LEFT_MOTOR = 0
      }
      animation(e)

      const data = "left=" + LEFT_MOTOR + "&right=" + RIGHT_MOTOR
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/control", true);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send(data);
    }

    document.addEventListener('keyup',release)
    function release(e) {
      if (e.keyCode === 119 /* w */){
        RIGHT_MOTOR = 90;
      }
      if (e.keyCode === 115 /* s */){
        RIGHT_MOTOR = 90
      }
      if (e.keyCode === 113 /* q */){
        LEFT_MOTOR = 90
      }
      if (e.keyCode ===  97 /* a */){
        LEFT_MOTOR = 90
      }

      const data = "left=" + LEFT_MOTOR + "&right=" + RIGHT_MOTOR
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/control", true);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send(data);
    }

</script>

<script>
 function animation(e) { 
            var can = document.getElementById("block"); 
            var i = 0; 
            vec = 0;

            if (e === 119 || e === 113) {
              vec = -1;
            }  else {
              vec = 1;
            }
            // Call after 10 ms 
            
            makeframe();
          
            function makeframe() { 

           
             if (e === 113) {
                    
                    can.style.top = 50 + 'px';  
                    can.style.left = 50 + 'px';  
              } else if (e === 119) {
                    
                    can.style.top = 50 + 'px';  
                    can.style.left = 350 + 'px';  
              } else if (e === 115) {
                    
                    can.style.top = 300 + 'px';  
                    can.style.left = 300 + 'px';  
              } else if (e === 97) {
                    
                    can.style.top = 300 + 'px';  
                    can.style.left = 50 + 'px';  
              }
  
            } 
        } 

</script>

</body>
</html>
